[submodule "hexo-theme-material"]
	path = ./themes/hexo/hexo-theme-material
	url = ./themes/hexo/hexo-theme-material/
[submodule "DopeTrope-Jekyll-Theme"]
	path = ./themes/jekyll/DopeTrope-Jekyll-Theme
	url = ./themes/jekyll/DopeTrope-Jekyll-Theme/
[submodule "hugo/hugo-creative-portfolio-theme"]
	path = themes/hugo/hugo-creative-portfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "jekyll/jekyll.wiki"]
	path = themes/jekyll/jekyll.wiki
	url = https://github.com/jekyll/jekyll.wiki.git
